body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.top-navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

a.top-navbar-link {
  padding: 2rem;
  font-size: 2rem;
}

div.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.carousel-home {
  width: 50rem;
  object-fit: contain;
}

img.home-carousel-image {
  width: 50rem;
  object-fit: cover;
}
